body {
    background-image: url('./assests/gradient-violet-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: Roboto, sans-serif;
    color: #434146;
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
    min-height: 100%;
    display: block;
}

.resize {
    position: relative;
    z-index: 1;
    width: 201px;
    height: auto;
    margin-top: 18px;

}
.navbar {
    display: flex;
    flex-direction: row; 
    float: right;
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
}

.dropdown_btn{
    display: inline-block;
    background: none;
    border:none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.dropdown{
    margin: 20px;
    padding-top: 12px;
    padding-bottom: 8px;
    position: relative;
    display: inline-block;

}

.dropdown_content{
    display: none;
    position: absolute;
    border-style: solid;
    border-width:1px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_content a {
    color: gray;
    padding: 12px 16px;
    display: block;
}


.dropdown_content a:hover{ background-color: #ddd; }

.dropdown:hover .dropdown_content {display: block;}

.premium{
    color: #fff;
    margin: 30px;
    font-size: 16px;
    text-decoration: none;
    text-align: end;
    
}

.premium:hover{text-decoration: underline;} 

.open-kast{
    margin: 30px;
    height: inherit;
    background: none;
    border: 1px solid;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 400;
    
}

.container{
    max-width: 1200px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}
.center-block{
    max-width: 860px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.resize1{
    width: 100%;
    max-width: 610px;
    margin-bottom: 30px;
    align-items: center;
}

.slogan{
    color: #fff;
    font-size: 48px;
    line-height: 54px;
    font-weight: 500;
    text-align: center;
}
/*add cursor: pointer to nav bar and anything with link */

.section-center{
    color: #fff;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
}

.orange_kast_btn{
    display: flex;
    margin-top: 30px;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    padding: 0px 16px;
    background-color: #fe9000;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;

}

.featured_section{
    display: block;
    background-color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
}

.heading{
    margin-top: 0px;
    margin-bottom: 50px;
    color: #434146;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.container-white{
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.grid{
    display: grid;
    grid-auto-columns: 1fr;
    max-width: 880px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
    -webkit-box-align: center;
    align-items: center;
    grid-column-gap: 140px;
    grid-row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.quote{
    display: block;
    max-width: 850px;
    padding-left: 30px;
    margin: 50px;   
    text-align: center;
}

.quote-text{
    width: 100%;
    font-size: 20px;
    text-align: center;
}